<header class="header-body">
</header>
<body class="body">
    <br>
    <div class="bodi">
        <b>Remplissez tous les champs ci-dessous afin de vous inscrire.</b>
        <br>
        <br>
        <br>
        Identifiant :
        <br>
        <input type="text">
    </div>
    <br>
    <div class="bodi">
        Mot de passe :
        <br>
        <input type="password">
    </div>
    <br>
    <div class="bodi">
        Confirmez votre mot de passe :
        <br>
        <input type="password">
    </div>
    <br>
    <br>
    <div class="bodi">
        <button class="button">
            <a href="connexionvalid.html">
                Valider
            </a>
        </button>
    </div>
</body>
<footer>
    <div class="madeby">
        <h6>Made by Angel Chambon.</h6>
    </div>
</footer>
