<header class="header-body">
  <link rel="stylesheet" href="stylesheet.css"/>
  <div class="title">
    </h1> Pokemon Dimensio</h1>
  </div>
</header>
<body class="body">
  <div class="bodi">
    <br>
    <br>
    <div>
      <div class="phraseconnect">
      <h3>Veuillez vous connecter ou vous inscrire :</h3>
    </div>
      <button class="button">
        <a href="login-page/login-page.component.html"><h3>se connecter</h3></a>
      </button>
      <button class="button">
        <a href="signup-page/signup-page.component.html"><h3>s'inscrire</h3></a>
      </button>
    </div>
  </div>
</body>
<footer>
  <div class="madeby">
    <h6>Made by Angel Chambon.</h6>
  </div>
</footer>
