div {

  background-color: #333;
  height: 1280px;
  width: 2539px;

}

h1, h2 {
  text-align: center;
  color: cyan;
  text-decoration: underline double;
}

p, ul {
  color: orange;
  text-align: center;
}

ul {
  display: inline-block;
  margin-left: 70rem;
  text-decoration: none;
}
