<header class="header-body">
    <link rel="stylesheet" href="stylesheet.css"/>
    <div class="title">
      </h1> Pokemon Dimensio</h1>
    </div>
</header>
<body class="body">
    <br>
    <div class="bodi">
        Identifiant :
        <input type="text">
    </div>
    <br>
    <div class="bodi">
        Mot de passe :
        <input type="password">
    </div>
    <br>
    <br>
    <div class="bodi">
        <button class="button">
            <a href="connexionvalid.html">
                Valider
            </a>
        </button>
    </div>
</body>
<footer>
    <div class="madeby">
        <h6>Made by Angel Chambon.</h6>
    </div>
</footer>
</html>